html {
    font-family: sans-serif;
  }

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    text-align: center;
    background: rgb(95, 80, 66);
    background-image: url(img/unnamed.jpg);
    
    

  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(240, 167, 98, 0.582);
    color: rgb(14, 97, 3);


}

p {

background:#391464;

color:#f2fdb4;
font-size: 20px;



}

section { 
    
    background:#dbce8a;
    font-size: 25px;
    color: rgb(5, 21, 39);
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(img/thumb_m_psh_00006191.jpg);
    
    
}

label {

font-size: 50px;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold;

}

/*ul {

    text-align: left;
    font-size: 18px;

}*/

input { 

    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background:#caeaf8;
    font-weight: bold;

}

.fieldExample{

height: 40px ;
width: 60px ;


}

.guessSubmit {

  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 40px;
}

.resultParas p  {

    text-align: center;
    font-size: 25px;
    font-family: Georgia;

 /* margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 80px;
  margin-left: 40px;*/

}


/* Стили кнопки */
.button{
    display: inline-block;
    cursor: pointer; font-size:18px;
    text-decoration:none;
    padding:10px 20px; 
    color:#354251;
    background:#ffffff;
    border-radius:25px;
    border:2px solid #354251;
    }
    .button:hover{
    background:#bec8d3;
    color:#ffffff;
    border:2px solid #354251;
    transition: all 0.2s ease;
    }